footer{
  text-align: center;
  background-color: #e62e00;
  color: white;
  font-size: 18px;
  font-family: Acme, arial;
  text-decoration: underline;
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
