.form-container{
    background-color: white;
}
form{
    color: #ff8566;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 200px;
    font-size: 16pt;
    label{
     font-size: 20px;
    }
}
.submit{
    text-align: center;
    margin: auto;
}
