header{
	font-family: Passion One;
	.title-bar-title{
		font-size: 40px;
		a{
			color:white;
		}
	}
	img{
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
	li{
		color:#002699;
		font-size: 20px;
	}

	.dropdown menu{
		text-align: left;
	}
	.menu{
		width: 80px;
	}
}
