html{
height: 100%
}
body{
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('../assets/back/wall.jpg');
  background-size: cover;
  background-attachment: fixed;
}
ul{

  list-style: none;
  margin: 0;
  text-decoration: none;
}

.tasklist{
  background-color: white;
  opacity: 0.85;
}

.tasklist li:first-child {
  font-weight: bold;
  font-size: 16px;
}

.tasklist-line a {
  color: black;
  text-decoration: none;
}

.tasklist-line-done > span {
  text-decoration: line-through;
}

.tasklist-line:nth-child(even) {
  background-color: lightgray;
}

.tasklist-item-id {
  width: 50px;
  text-align: center;
}

.tasklist-item-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tasklist-item-created_at {
  width: 150px;
}

.tasklist-item-created_by {
  width: 150px;
}

.tasklist-item-due_at{
  width: 150px;
}

.tasklist-item-assigned_to{
  width: 150px;
}

.tasklist-item-priority {
  width: 80px;
  text-align: center;
}

.tasklist-line-done .tasklist-item-appli{
  text-decoration: none;
}

.tasklist-item-appli a.done:hover{
  font-size: 1.3em;
  transition: 0.1s ease-out;
  color: green;
}

.tasklist-item-appli a.change:hover{
  font-size: 1.3em;
  transition: 0.1s ease-out;
  color: blue;
}

.tasklist-item-appli a.delete:hover{
  font-size: 1.3em;
  transition: 0.1s ease-out;
  color: red;
}
.add{
  font-size:50px;
  color: #4286f4;
  margin-left: 10px;
}


